/*header menu*/
#navigation {
    height:80px;
    padding:1%;
    display:flex;
    align-items: center;
    position: relative;
    background-color: #2071AF;
}

.logo {
    padding:1%;
    text-align:left;
}

.menu {
    position: absolute;
    right:0;
    letter-spacing: 0em;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    /* letter-spacing: .10em; */
    text-transform: lowercase;
    padding: 1%;
}

.menu1 {
    color: #FADA1F;
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
}

/* About Me Content */
/* #aboutMe {
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;
    background-color: #FBF3E8;
    height: 700px;
} */

#aboutMe {
    padding: 50px 0px 0px 50px;
    height: 600px;
    display: grid;
    justify-content: center;
    grid-template-rows: 600px;
    grid-template-columns: 450px 450px;
    grid-template-areas: 
    "text .";
}

.aboutText {
    font-family: 'Open Sans';
    font-size: 20px;
    grid-area: text;
}

@media only screen and (max-width: 900px) {
    #aboutMe {
        padding: 50px;
        height: 600px;
        display: grid;
        justify-content: center;
        grid-template-rows: 700px;
        grid-template-columns: 300px 300px;
        grid-template-areas: 
        "text .";
    }
    .aboutText {
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px) {
    #aboutMe {
        padding: 50px;
        height: 600px;
        display: grid;
        justify-content: center;
        grid-template-rows: 800px 600px;
        grid-template-columns: 280px;
        grid-template-areas: 
        "text"
        ".";
    }
    .aboutText {
        font-size: 14px;
    }
}

/* footer */
#footer {
    display: flex;
}

.footer-note {
    margin-left: 50px;
    display: flex;
    font-family: 'Arapey';
    font-weight: 400;
}

.social-media {
    position: absolute;
    right:50px;
    letter-spacing: 0em;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    /* letter-spacing: .10em; */
    padding: 2%;
}

.menu2 {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
}
