/*header menu*/
#navigation {
    height:80px;
    padding:1%;
    display:flex;
    align-items: center;
    position: relative;
    background-color: #2071AF;
}

.logo {
    padding:1%;
    text-align:left;
}

.menu {
    position: absolute;
    right:0;
    letter-spacing: 0em;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    /* letter-spacing: .10em; */
    text-transform: lowercase;
    padding: 1%;
}

.menu1 {
    color: #FADA1F;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
}

/* CONTENT */
#resume {
    background-color: #FBF3E8;
    height: 1200px;
    margin-top: 0px;
}

.image {
    width: 50%;
    height: auto;
    margin: 100px 25% 25px 25%;
    background-color: #FBF3E8;
    /* position: absolute; */
}

button {
    /* margin-top: 30px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-color: black;
    background-color: #FBF3E8;
    color: black;
    padding: 15px 10px;
    font-family: 'Open Sans';
}

button:hover {
    background: black;
    color: white;
}

/* footer */
#footer {
    display: flex;
}

.footer-note {
    margin-left: 50px;
    display: flex;
    font-family: 'Arapey';
    font-weight: 400;
}

.social-media {
    position: absolute;
    right:50px;
    letter-spacing: 0em;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    /* letter-spacing: .10em; */
    padding: 2%;
}

.menu2 {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
}